@background: #f3f3f3;
@panel-border-gradient: linear-gradient(
  to right,
  #34495e,
  #9b59b6,
  #3498db,
  #1abc9c
);
@error-gradient: linear-gradient(to right,#ff5300,#d80000);
@error-color: #ff5300;
@disabled-gradient: linear-gradient( 
  to right,
  greyscale(#34495e),
  greyscale(#9b59b6),
  greyscale(#3498db),
  greyscale(#1abc9c)
);
@muted-color: #aaa;
@primary-color: #34495e;
@success-color: #1abc9c;
.shadow() {
  box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.3);
}
